<!DOCTYPE html>
<html class="offset-body">
<head>
    <meta charset="UTF-8">
    <title>Say what...</title>
    <link rel="stylesheet" type="text/css" href="/static/css/uikit.css"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"></script>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
</head>
<body>
    <div class="content" uk-height-viewport="offset-bottom: 6">
    <nav class="uk-navbar">
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li><a href="https://skillion.com.au" class="top-logo">Skillion</a></li>
                <li><a href="/seller/r2XI3VkW3eG3M1A0RgsW">Shop Skillion</a></li>
                <li><a href="/purchases">My Skillions</a></li>
                <li><a href="/payments">Payments</a></li>
            </ul>
        </div>
    </nav>
    <div style="padding: 280px; text-align: center;">
        <h2 style="font-family: Lato; color: #FFB02E;">Say what? You don't own any Skillions yet?</h2>
        <p style="color: #FFF;">
            <a href="/seller/r2XI3VkW3eG3M1A0RgsW">Shop now!</a>
        </p>
    </div>
</div>
<footer class="footer">
    <div class="uk-clearfix">
      <div class="uk-float-right">
          <ul class="uk-breadcrumb" style="margin-bottom: 0px; position: relative; left: -50px;">
            <li><a href="https://skillionbikes.com/">Website</a></li>
            <li><a href="/tos">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="uk-float-left">
          Skillion Inc.
      </div>
  </div>
</footer>
</body>
</html>
