<!DOCTYPE html>
<html class="offset-body">
<head>
<meta charset="UTF-8">
<title>New Password</title>
<link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
<link rel="stylesheet" href="/static/css/login.css">
<link rel="stylesheet" type="text/css" href="https://getuikit.com/assets/uikit/dist/css/uikit.css?nc=2473"></script>
<link rel="stylesheet" type="text/css" href="/static/css/theme.css"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://getuikit.com/assets/uikit/dist/js/uikit.js?nc=2473"></script>
<script type="text/javascript" src="https://getuikit.com/assets/uikit/dist/js/uikit-icons.js?nc=2473"></script>
<link href="https://fonts.googleapis.com/css?family=Orbitron:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
</head>
<body class="offset-body">
<div class="content" uk-height-viewport="offset-bottom: 6">
<nav class="uk-navbar" style="background: rgba(255,255,255,0.2)">
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li><a href="https://skillion.com.au" class="top-logo">Skillion</a></li>
            <li><a href="/">Log In</a></li>
        </ul>
    </div>
</nav>
<div class="login-card" style="width: 500px; margin-top: 200px">
  <h1>Set New Password</h1><br>
  <form class="uk-form-stacked" method="post" action="/user/reset/{{slosh}}">
		<div class="uk-margin">
			<label class="uk-form-label" for="form-stacked-text">New Password</label>
			<div class="uk-form-controls">
				<input class="uk-input" id="form-stacked-text" type="password" name="password" placeholder="•••••••••••••">
			</div>
		</div>
		<input type="submit" name="reset" class="login login-submit" value="SET NEW PASSWORD">
	</form>
</div>
</div>
<footer class="footer">
    <div class="uk-clearfix">
      <div class="uk-float-right">
          <ul class="uk-breadcrumb" style="margin-bottom: 0px; position: relative; left: -50px;">
            <li><a href="https://skillion.com.au/">Website</a></li>
            <li><a href="/tos">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="uk-float-left">
          Skillion Inc.
      </div>
  </div>
</footer>
</body>
</html>
